{{ partial "header.html" . }}

<h1><span class="title">{{ .Title | markdownify }}</span></h1>

  <main>
    {{ .Content }}
  </main>

  <div class="article-meta">
    {{ if .Site.Params.Author }}
      {{ .Site.Params.Author }}
    {{ end }}
    {{ if .Date }}Posted on: {{ .Date.Format "02 Jan 2006" }} <br>{{ end }}

    {{ $taxo := "tags" }} <!-- Use the plural form here -->
    {{ with .Param $taxo }}
      Tagged:
      {{ range $index, $tag := . }}
        {{- if gt $index 0 }}, {{ end -}}
        {{ with $.Site.GetPage (printf "/%s/%s" $taxo ($tag | urlize)) -}}
            <a href="{{ .Permalink }}">{{ $tag }}</a>
        {{- end -}}
      {{- end -}}
    {{ end }}

    {{ partial "custom_metadata.html" }}
</div>

{{ partial "footer.html" . }}