<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ if .Title }}{{ .Title }} | {{ end }}{{ .Site.Title }}</title>
    <link rel="stylesheet" href="https://unpkg.com/basic-css-typography-reset@1.0.0/typography.min.css">
    <link rel="stylesheet" href="{{ "/css/style.css" | relURL }}" />
    <link rel="stylesheet" href="{{ "/css/fonts.css" | relURL }}" />
  </head>

  <body>
    <header><h1>{{ .Site.Title }}</h1></header>
    <nav>
      <ul class="menu">
        {{ range .Site.Menus.main }}
            <li><a href="{{ .URL | relURL }}">{{ .Name | title }}</a></li>
        {{ end }}
      </ul>
      <hr/>
    </nav>